
[core]
	autocrlf = true
  filemode = true
[user]
	email =
	name =
[safe]
	directory = *
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
